:root {
    --white: #F2F2F2;
    --light-blue: #3A7CA5;
    --blue: #1F4E78;
    --dark-blue: #0D2C40;
    --grey: #B0BEC5;
    --black: #0D0D0D;
}

body {
    background-color: var(--white);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--black);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


h1 {
    background-color: var(--light-blue);
    color: var(--white);
    padding: 1% 2%;
    text-align: center;
    border-radius: 15px;
    margin: 2% auto;
    border: 3px solid var(--blue);
    box-sizing: border-box;
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.card {
    display: flex;
    gap: 2%;
    background-color: var(--light-blue);
    border-radius: 20px;
    width: auto;
    padding: 2%;
    margin: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    width: 30%;
    padding: 2%;
    border-radius: 50%;
    background-color: var(--blue);
    margin: 2% 3%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-me {
    background-color: var(--blue);
    padding: 2%;
    margin: 2% 4%;
    color: var(--white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me h2 {
    background-color: var(--blue);
    color: var(--white);
    padding: 1% 2%;
    text-align: center;
    border-radius: 15px;
    margin: 2% auto;
    border: 3px solid var(--light-blue);
    box-sizing: border-box;
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.paragraph {
    background-color: var(--dark-blue);
    font-size: 18px;
    color: var(--grey);
    padding: 2% 3%;
    margin: 3%;
    text-align: justify;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.paragraph:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Catálogo */
.catalog {
    background-color: var(--blue);
    padding: 1%;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.catalog ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.catalog ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    transition: color 0.3s ease;
}

.catalog ul li a:hover {
    color: var(--light-blue);
}

/* Proyectos */
.proyectos {
    background-color: var(--light-blue);
    padding: 2%;
    margin: 2%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.proyectos h2 {
    color: var(--white);
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
}

.proyectos h3 {
    color: var(--white);
    font-size: 50px;
    text-align:justify;
    background-color: var(--blue);
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.proyecto-paragraph {
    background-color: var(--blue);
    color: var(--grey);
    padding: 1% 2%;
    border-radius: 15px;
    line-height: 1.5;
    font-size: 20px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nexlock {
    background-color: var(--dark-blue);
    padding: 2%;
    margin: 2% auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nexlock:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.nexlock h3 {
    width: 50%;
    box-sizing: content-box;
    padding: 1% 2%;
}

.nexlock-content {
    display: flex;
    gap: 2%;
}

.nexlock-paragraph {
    flex-direction: column;
    width: 50%;
}

.nexlock-img{
    width: 40%;
    padding: 1%;
    background-color: var(--blue);
    box-sizing: border-box;
    border-radius: 15px;
}


/* Contacto */

footer.contact {
    margin-top: auto;
}


.contact {
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: center;
    padding: 1% 0;
    margin-top: 2%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact h2 {
    margin-bottom: 1rem;
}

.contact .social-links {
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
    justify-content: center;
}

.contact .social-links a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    display: flex;
    gap: 0.5rem;
    transition: color 0.3s ease;
}

.contact .social-links a:hover {
    color: var(--light-blue);
}

.footer-images {
    width: 30px;
    height: 30px;

}


